extends layout

block content
  .row
    // Navigation Bar
    .navbar.navbar-light.bg-light
      .container-fluid
        .navbar-brand(href='/') Coffee Shop
        .navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/cart') Cart
            li.nav-item
              a.nav-link(href='/about') About
            li.nav-item
              a.nav-link(href='/contact') Contact

    .col-12.col-lg-9
      h2 Your Cart
      .cart-items
        // Display cart items
        if cartItems.length
          each item in cartItems
            .cart-item.card.card-primary.mb-3
              .card-body
                h4.card-title= item.name
                p.card-text Cost: ₹#{item.price} 
                a.btn.btn-danger(href=`/cart/remove/${item.id}`) Remove
        else
          p Your cart is empty.


      .add-to-cart-container
        a.btn.btn-primary(href='/') Add more items
