extends layout

block content
  .row.banner
    .col-12
      h1 Coffee Menu

  .row
    .col-12.col-lg-9
      h2 Our Coffees
      .row
        // Coffee Items in Cards
        .col-12.col-md-6
          .card.card-primary
            .card-block
              h3 Espresso
              .d-flex
                img.img-fluid(src='/images/ezpresso.jpg', alt='A cup of Espresso', style='width: 100px; height: auto; margin-right: 15px;')
                .coffee-description
                  p Our espresso is rich and bold, made from finely ground coffee beans.
                  p Cost: &#8377; 150
                  button.btn.btn-primary(onclick='addToCart("espresso", "Espresso", 150)') Add to Cart

          .card.card-primary
            .card-block
              h3 Americano
              .d-flex
                img.img-fluid(src='/images/americano.jpg', alt='A cup of Americano', style='width: 100px; height: auto; margin-right: 15px;')
                .coffee-description
                  p Our Americano is a smooth blend of espresso and hot water.
                  p Cost: &#8377; 180
                  button.btn.btn-primary(onclick='addToCart("americano", "Americano", 180)') Add to Cart
          
          .card.card-primary
            .card-block
              h3 Cappuccino
              .d-flex
                img.img-fluid(src='/images/cappuccino.jpg', alt='A cup of Cappuccino', style='width: 100px; height: auto; margin-right: 15px;')
                .coffee-description
                  p Our cappuccino features a perfect balance of espresso, steamed milk, and froth.
                  p Cost: &#8377; 200
                  button.btn.btn-primary(onclick='addToCart("cappuccino", "Cappuccino", 200)') Add to Cart

          .card.card-primary
            .card-block
              h3 Latte
              .d-flex
                img.img-fluid(src='/images/latte.jpg', alt='A cup of Latte', style='width: 100px; height: auto; margin-right: 15px;')
                .coffee-description
                  p Our latte is creamy and smooth, crafted with steamed milk and espresso.
                  p Cost: &#8377; 220
                  button.btn.btn-primary(onclick='addToCart("latte", "Latte", 220)') Add to Cart

          .card.card-primary
            .card-block
              h3 Mocha
              .d-flex
                img.img-fluid(src='/images/mocha.jpg', alt='A cup of Mocha', style='width: 100px; height: auto; margin-right: 15px;')
                .coffee-description
                  p Our mocha combines espresso with chocolate for a delightful treat.
                  p Cost: &#8377; 250
                  button.btn.btn-primary(onclick='addToCart("mocha", "Mocha", 250)') Add to Cart

          .card.card-primary
            .card-block
              h3 Flat White
              .d-flex
                img.img-fluid(src='/images/flatwhite.jpg', alt='A cup of Flat White', style='width: 100px; height: auto; margin-right: 15px;')
                .coffee-description
                  p Our flat white features velvety microfoam poured over rich espresso.
                  p Cost: &#8377; 230
                  button.btn.btn-primary(onclick='addToCart("flatwhite", "Flat White", 230)') Add to Cart

          .card.card-primary
            .card-block
              h3 Cortado
              .d-flex
                img.img-fluid(src='/images/cortado.jpg', alt='A cup of Cortado', style='width: 100px; height: auto; margin-right: 15px;')
                .coffee-description
                  p A perfect balance of espresso and warm milk, smooth and delightful.
                  p Cost: &#8377; 210
                  button.btn.btn-primary(onclick='addToCart("cortado", "Cortado", 210)') Add to Cart

          .card.card-primary
            .card-block
              h3 Affogato
              .d-flex
                img.img-fluid(src='/images/affogato.jpg', alt='A cup of Affogato', style='width: 100px; height: auto; margin-right: 15px;')
                .coffee-description
                  p A scoop of vanilla ice cream topped with a shot of hot espresso.
                  p Cost: &#8377; 300
                  button.btn.btn-primary(onclick='addToCart("affogato", "Affogato", 300)') Add to Cart

          .card.card-primary
            .card-block
              h3 Cold Brew
              .d-flex
                img.img-fluid(src='/images/coldbrew.jpg', alt='A cup of Cold Brew', style='width: 100px; height: auto; margin-right: 15px;')
                .coffee-description
                 p Our cold brew is steeped for hours, resulting in a smooth and refreshing coffee.
                  p Cost: &#8377; 180
                  button.btn.btn-primary(onclick='addToCart("coldbrew", "Cold Brew", 180)') Add to Cart
  .row
      .col-12.col-lg-3
        p If you've tried our coffee, leave a review and let others know!
  // Toast notification
  .toast-container
    .toast(id='toast', style='position: fixed; bottom: 20px; right: 20px; display: none;')
      .toast-body 

  // JavaScript for Add to Cart and Review functionality
  script.
    function addToCart(itemId, itemName, itemPrice) {
      const item = {
        id: itemId,
        name: itemName,
        price: itemPrice,
        quantity: 1 // Set the quantity you want to add
      };

      // Send a POST request to add the item to the cart
      fetch('/cart/add', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(item)
      })
      .then(response => {
        if (!response.ok) {
          throw new Error('Failed to add item to cart');
        } else {
          showToast(itemName); // Show toast with item name
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });

      function showToast(itemName) {
        const toast = document.getElementById('toast');
        toast.querySelector('.toast-body').textContent = `${itemName} added to cart!`; // Set toast message
        toast.style.display = 'block';
        setTimeout(() => {
          toast.style.display = 'none';
        }, 3000); // Hide after 3 seconds
      }
    }
