extends layout

block content
  .row.banner
    .col-12
      .card.card-primary
        .card-block
          p(style="color: black; font-size: 50px;") 
            strong Contact Us
          p(style="color: black; font-size: 25px;")
            strong Email: 
            span(style="font-size: 15px;") roastcontact@gmail.com
          p(style="color: black; font-size: 25px;")
            strong Phone number:
            span(style="font-size: 15px;") 9550122681
