extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      img(src="images/roastlogo.jpg", alt="Roast Logo", class="img-fluid", style="max-width: 800px;") 
      h1 
      small &nbsp;

  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Coffee
          .row
            .col-6
              p.facilities
                span.badge.badge-warning Coffee is a beloved beverage made from roasted coffee beans
                span.badge.badge-warning the seeds of the Coffea plant. Ground and brewed with hot water,
                span.badge.badge-warning it offers a rich array of flavors and aromas. Enjoyed globally in 
                span.badge.badge-warning forms like espresso, lattes, and cold brews of flavors and aromas. 
                span.badge.badge-warning Enjoyed globally in forms like espresso, lattes, and cold brews 
                span.badge.badge-warning coffee is celebrated for its stimulating effects due to caffeine.
                span.badge.badge-warning  Beyond its taste, coffee holds cultural significance, often serving 
                span.badge.badge-warning as a social catalyst in gatherings and daily routines, making it a 
                span.badge.badge-warning cherished part of many people's lives.
               
            .col-6
              img(src="images/coffee.jpg", alt="Cappuccino Image", class="img-fluid")

    .col-12.col-md-4
      p.lead
