extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      img(src="images/roastlogo.jpg", alt="Roast Logo", class="img-fluid", style="max-width: 800px;") 
      h1 
      small &nbsp;

  // Coffee Section
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Coffee
          .row
            .col-6
              p.facilities
                span.badge.badge-warning Coffee is a beloved beverage made from roasted coffee beans
                span.badge.badge-warning the seeds of the Coffea plant. Ground and brewed with hot water,
                span.badge.badge-warning it offers a rich array of flavors and aromas. Enjoyed globally in 
                span.badge.badge-warning forms like espresso, lattes, and cold brews of flavors and aromas. 
                span.badge.badge-warning Enjoyed globally in forms like espresso, lattes, and cold brews 
                span.badge.badge-warning coffee is celebrated for its stimulating effects due to caffeine.
                span.badge.badge-warning  Beyond its taste, coffee holds cultural significance, often serving 
                span.badge.badge-warning as a social catalyst in gatherings and daily routines, making it a 
                span.badge.badge-warning cherished part of many people's lives.
            .col-6
              img(src="images/coffee.jpg", alt="Cappuccino Image", class="img-fluid")

  // Pastries Section
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/pastries") Pastries
          .row
            .col-6
              p.facilities
                span.badge.badge-warning Pastries are delightful baked goods made from ingredients like flour,
                span.badge.badge-warning butter, and sugar, offering a range of sweet and savory flavors.
                span.badge.badge-warning From buttery croissants to rich chocolate muffins, pastries
                span.badge.badge-warning provide a delicious treat for any time of day. These confections are 
                span.badge.badge-warning often enjoyed with coffee or tea, adding a touch of indulgence 
                span.badge.badge-warning to morning routines or snack times.
            .col-6
              img(src="images/pastrylogo.jpg", alt="Pastries Image", class="img-fluid")

    .col-12.col-md-4
      p.lead
